# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile

{
	# Global options

	# CA Issuer
	acme_ca https://dv.acme-v02.api.pki.goog/directory

	# Monitoring
	admin :2019
	metrics {
		per_host
	}
}

# Global Impoorts
(all) {
	handle_errors {
        rewrite * /404.html
        file_server {
            status 404
        }
    }
}

# Default options for internal facing sites
(home) {
	import all
	tls internal
}

grafana.home {
	import home
	reverse_proxy http://{$IP_GRAFANA}:3000
}

uptime.home {
	import home
	reverse_proxy http://{$IP_UPTIME_KUMA}:3001
}

# Default options for external facing sites
(external) {
	import all
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Xss-Protection "1; mode=block"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Content-Security-Policy "upgrade-insecure-requests"
		Referrer-Policy "strict-origin-when-cross-origin"
		Cache-Control "public, max-age=15, must-revalidate"
		Permissions-Policy "accelerometer=(), ambient-light-sensor=(), autoplay=(self), camera=(), encrypted-media=(), fullscreen=(self), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), midi=(), payment=(), picture-in-picture=(*), speaker-selection=(), usb=(), xr-spatial-tracking=()"
		[defer]
	}
	file_server
}

(geeksbsmrt) {
	import external
    tls geeksbsmrt@gmail.com {
        ca https://dv.acme-v02.api.pki.goog/directory
        eab {env.GEEKSBSMRT_EAB_KID} {env.GEEKSBSMRT_EAB_MAC}
    }
}

geeksbsmrt.com {
	import geeksbsmrt

    root * /srv/geeksbsmrt.com
}

analytics.geeksbsmrt.com {
    import geeksbsmrt

    reverse_proxy http://{$IP_UMAMI_APP}:3000
}

*.geeksbsmrt.com {
	import geeksbsmrt
}

(smrtgeekdevs) {
	import external
    tls smrtgeekapps@gmail.com {
        ca https://dv.acme-v02.api.pki.goog/directory
        eab {env.SMRTGEEKDEVS_EAB_KID} {env.SMRTGEEKDEVS_EAB_MAC}
    }
}

smrtgeekdevs.com {
	#root * /var/www/smrtgeekdevs
}

pihole.smrtgeekdevs.com {
	import smrtgeekdevs

	redir / /admin{uri}
    reverse_proxy pihole
}

*.smrtgeekdevs.com {
	import smrtgeekdevs
}


# [Previous *.smrtgeekdevs.com commented block removed for security/obsolescence]






