# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile

{
	# Global options

	# Monitoring
	admin :2019
	metrics {
		per_host
	}
}

# Global Imports
(all) {
	handle_errors {
        respond "{err.status_code} {err.status_text}"
    }
	# handle_errors {
    #     rewrite * /404.html
    #     file_server {
    #         status 404
    #     }
    # }
}

# Default options for internal facing sites
(home) {
	import all
	tls internal
}

grafana.home {
	import home
	reverse_proxy http://{$IP_GRAFANA}:3000
}

uptime.home {
	import home
	reverse_proxy http://{$IP_UPTIME_KUMA}:3001
}

# Default options for external facing sites
(external) {
	import all

	tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Xss-Protection "1; mode=block"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Content-Security-Policy "upgrade-insecure-requests"
		Referrer-Policy "strict-origin-when-cross-origin"
		Cache-Control "public, max-age=15, must-revalidate"
		Permissions-Policy "accelerometer=(), ambient-light-sensor=(), autoplay=(self), camera=(), encrypted-media=(), fullscreen=(self), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), midi=(), payment=(), picture-in-picture=(*), speaker-selection=(), usb=(), xr-spatial-tracking=()"
		[defer]
	}
	file_server
}

(geeksbsmrt) {
	import external
}

geeksbsmrt.com {
	import geeksbsmrt

    root * /srv/geeksbsmrt.com
}

analytics.geeksbsmrt.com {
    import geeksbsmrt

    reverse_proxy http://{$IP_UMAMI_APP}:3000
}

*.geeksbsmrt.com {
	import geeksbsmrt
}

(smrtgeekdevs) {
	import external
}

smrtgeekdevs.com {
	#root * /var/www/smrtgeekdevs
}

pihole.smrtgeekdevs.com {
	import smrtgeekdevs

	redir / /admin{uri}
    reverse_proxy pihole
}

*.smrtgeekdevs.com {
	import smrtgeekdevs
}
